.container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }

  .container {
    border-radius: .32rem;
    box-shadow: 2px 2px 1em .2em black;
    margin-top: 90px;
    padding: 50px;
  }